<section class="main-content__body">
 <hr/>
  <div class="form-actions">
  <p class="text-color-red"><%= t('super_admin.users.impersonate.warning', name: page.resource.name) %></p>
    <a class='button' target='_blank' href='<%= page.resource.generate_sso_link_with_impersonation %>'><%= t('super_admin.users.impersonate.button') %></a>
  </div>
</section>

