<section class="main-content__body">
 <hr/>
  <%= form_for([:reset_cache, namespace, page.resource], method: :post, html: { class: "form" }) do |f| %>
    <div class="form-actions">
      <p class="pb-3"><%= t('super_admin.accounts.reset_cache.description_html') %></p>
      <%= f.submit t('super_admin.accounts.reset_cache.submit') %>
    </div>
  <% end %>
</section>
