<% if ENV.fetch('ENABLE_ACCOUNT_SEEDING', !Rails.env.production?)  %>
<section class="main-content__body">
 <hr/>
  <%= form_for([:seed, namespace, page.resource], method: :post, html: { class: "form" }) do |f| %>

  <div class="form-actions">
    <div class="pb-3">
      <p><%= t('super_admin.accounts.seed_data.description') %></p>
      <p class="text-color-red"><%= t('super_admin.accounts.seed_data.warning') %></p>
    </div>
  <%= f.submit t('super_admin.accounts.seed_data.submit') %>
  </div>
  <% end %>
</section>
<% end %>
